.add-image{
     height: auto;
     width: 320px;
    position: absolute;
    top: 5px;
    left: 5px
}

.tabbar-labels a.link, .tabbar-labels a.tab-link {
    padding-top: 11px;
}

.btn-grup{
    width: 100%;
}

.page-content{
    overflow: hidden !important;
}